/* carouselStyles.css */

.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #CDE1ED !important;
}

.carousel .control-next.control-arrow:before {
  border-left: 8px solid #CDE1ED !important;
}

.carousel .control-dots .dot {
  background: #82B5D1 !important;
}

.carousel .slide {
  text-align: start;
}